.gitattributes export-ignore
.travis.yml export-ignore
.vscode export-ignore
doc/nginx-fg.cfg export-ignore
doc/php-fpm.conf export-ignore
phpunit.xml export-ignore
tests/ export-ignore
travis/ export-ignore
